<%- include('./template/header.ejs') -%>
    <h1>Bart calendar</h1>
    <iframe class="h-75" src="https://calendar.google.com/calendar/embed?src=5ishf3vpdc0cj39esqcc23naj8%40group.calendar.google.com&ctz=Europe%2FLuxembourg&mode=WEEK" style="border: 0" frameborder="0" scrolling="no"></iframe>
<%- include('./template/footer.ejs') -%>