<%- include('./template/header.ejs') -%>
        <h1>Bienvenue sur le calendrier des Simpsons</h1>
        <p>Ils avaient tellement de choses à faire qu'ils nous ont contactés pour faire un site web regroupant les agendas de tous les membres de la famille afin de mieux s'organiser. Ainsi toute la famille est au courrant de qui fait quoi à quel moment.</p>
        <div class="row">
            <div class="col-4">
            <div class="text-center">
                <img class="mx-auto d-block h-75" style="z-index: -100;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fthomaslore%2Fimages%2Fe%2Fee%2FSimpsons_PNG63.png%2Frevision%2Flatest%3Fcb%3D20181111041618&f=1&nofb=1" alt="Simpson Familly">
            </div>     
            </div>
        </div>
<%- include('./template/footer.ejs') -%>