<%- include('./template/header.ejs') -%>
    <h1>Lisa calendar</h1>
    <iframe class="h-75" src="https://calendar.google.com/calendar/embed?src=ilub06cd41sffeuddli7n18c2g%40group.calendar.google.com&ctz=Europe%2FLuxembourg&mode=WEEK" frameborder="0" scrolling="no"></iframe>
<%- include('./template/footer.ejs') -%>