<%- include('./template/header.ejs') -%>
    <h1>Marge calendar</h1>
    <iframe class="h-75" src="https://calendar.google.com/calendar/embed?src=koi32u3g3ip77j45t1jr0qmoq4%40group.calendar.google.com&ctz=Europe%2FLuxembourg&mode=WEEK" style="border: 0" width="1600" height="925" frameborder="0" scrolling="no"></iframe></body>
<%- include('./template/footer.ejs') -%>